/*在同一行内*/
.y-oneline{
    display: inline;
}
/*向右浮动*/
.y-floatRight{
    float: right;
}
/*向左浮动*/
.y-floatleft{
    float: left;
}

/*右外间距*/
.y-rMargin-sm{
    margin: 0 30px 0 0;
}
.y-rMargin-10{
    margin: 0 10px 0 0;
}
/*左右外边距*/
.y-rlMargin-md{
    margin: 0 70px;
}
/*左右外边距*/
.y-rlMargin-sm{
    margin: 0 30px;
}
.y-margin-sm{
    margin: 5px 20px;
}
.y-margin-mid{
    margin: 70px 90px;
}
.y-padding-xs{
    margin: 5px;
}
.y-padding-mid{
    margin: 70px;
}

.y-padding-tags{
    margin: 2px 4px;
}

/*上下内边距*/
.y-tbpadding-sm{
    padding: 20px 0;
}
.y-tbpadding-md{
    padding: 120px 0;
}
.y-tbpadding-xs{
    padding: 5px 0;
}
.y-toppadding-title{
    margin: 5px 0;
}

/*上下高度*/
.y-height-150{
    height: 150px;
}

/*宽度*/
.y-width-30{
    width: 30%;
}
.y-width-130{
    width: 130px;
}
/*a标签无下划线*/
.y-a-nodecoration a{
    text-decoration: none;
    color: black;
}

/*小-图片头像*/
.y-img-30{
    width: 30px;
}

.y-img-50{
    width: 50px;
}
.y-img-200{
    width: 200px;
}
.y-img-450{
    width: 450px;
}

@media (max-width: 750px) {
    .y-img-200{
        width: 350px;
    }
}
/*撑起父级高度*/
.y-father{
    overflow:hidden;
}

/*中间留空*/
.y-midup-sm{
    margin-bottom: 200px;
}
.y-midup-mid{
    margin-bottom: 350px;
}
.y-midup-lg{
    margin-bottom: 600px;
}
/*颜色*/
.y-color-brown{
    color: #761c19;
    overflow: hidden;
}
.y-color-blue{
    color: #00b59f;
    font-weight: bold;
    font-size: large;
}
.y-color-red{
    color: red;
}
.y-redTag{
    border: red solid 1px;
}
/*字体样式*/
.y-font-light{
    color: #333333;
    letter-spacing: 3px;
    font-weight: 300; /*定义由粗到细的字符。400 等同于 normal，而 700 等同于 bold。*/
}
.y-font-mini{
    color: #a1a0a0;
    font-weight: 200; /*定义由粗到细的字符。400 等同于 normal，而 700 等同于 bold。*/
    font-size: 8px;
}
.y-font-xs{
    color: #2b669a;
    font-size: small;
    font-weight: 600;
}

/*按钮去除背景和边框*/
.y-btn-clarity{
    border:white;
    outline: none;
    background-color:rgba(0,0,0,0);
    box-shadow: none;
}

.y-btn-blueBorder{
    border: #00B5AD solid 1px;
}

/*带边框的按钮*/
.y-btn-blue{
    border: #00B5AD solid 1px;
}

/*--------  error  -------*/
.error-404{
    border: palevioletred 1px solid;
    background-color: #f7eeef;

}