.navbar-brand{
    padding: 8px 40px;
}
.logoImg{
    height: 35px;
}
.jumbotron{
    background: url("../images/demo/banner.jpg") top center no-repeat;
    padding: 20px 0 0 0; /*表示 上填充 右填充 下填充 左填充  方便记忆为顺时针 */
    margin-bottom: 0px;
}
.renwu{
    height: 350px;
}
.banner-title{
    font-size: 24px;
    color: #D51DE9;
    line-height: 1;
    margin-top: 50px;
    margin-bottom: 20px;
}
.jumbotron .banner-detail{
    margin-bottom: 0px;
    font-size: 13px;
    color: #fff;
    line-height: 28px;
}
@media (max-width: 1200px){
    .banner-title{
        margin-top: 30px;
    }
}
@media (max-width: 992px){
    .banner-title{
        margin-top: 5px;
    }
    .jumbotron .banner-detail{
        margin-bottom: 20px;
    }
}
.gray-bg{
    background: #f2f2f2;
}
.common-title{
    font-size: 30px;
    text-align: center;
    color: #EE561A;
    line-height: 1;
    margin-top: 80px;
}
.common-detail{
    text-align: center;
    font-size: 16px;
    color: #7a7a7a;
    line-height: 28px;
    margin-top: 18px;
}
.list-con{
    padding-top: 90px;

}
.list-item{
    height: 110px;
    padding-left: 140px;
    background: url("../images/demo/123456.png") left top no-repeat;
    background-size: 110px;
    margin-bottom: 39px;
    overflow: hidden;  /* 解决 margin-top 塌陷 */
}
.list-item h3{
    font-size: 16px;
    color: #9611C2;
    font-weight: bold;
}
.list-item p{
    font-size: 13px;
    color: #8d6777;
}
.list2{background-position: left -110px}
.list3{background-position: left -210px}
.list4{background-position: left -315px}
.list5{background-position: left -420px}
.list6{background-position: left -530px}

.case-list{
    margin-top: 100px;
    margin-bottom: 90px;
}
.case-list img{
    height: 300px;
}
.case-list .col-lg-3{
    padding: 0;
    position: relative;
}

@media (max-width: 500px) {
    .case-list .col-sm-6{
        width: 100%;
    }
}
.case-list .col-lg-3 .mask{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #dca7a7;
    font-size: 30px;
    color: #9611C2;
    padding: 90px;
    display: none;
}

.case-list .col-lg-3:hover .mask {
    display: block;
}
.pink-bg{
    background-color: #fabebd;
    padding-bottom: 50px;
}
.common-title{
    color: #9611C2;
}
.pink-bg .common-detail{
    margin-bottom: 80px;
}
.logos-list a{
    background: url("../images/demo/logos.png") left top no-repeat;
    background-size: 150px;
    height: 150px;
    width: 150px;
    display: block;
    margin: 0 auto;
}
.logos-list .col-lg-2{
    width: 20%;
    float: left;
    margin-bottom: 30px;
}
@media (max-width: 970px) {
    .logos-list .col-lg-2{
        width: 33%;
    }
}
@media (max-width: 750px) {
    .logos-list .col-lg-2{
        width: 50%;
        position: center;
    }
}
.logos-list .logo2{
     background-position: left -150px;
 }
.logos-list .logo3{
    background-position: left -300px;
}
.logos-list .logo4{
    background-position: left -450px;
}
.logos-list .logo5{
    background-position: left -600px;
}

.links_list{
    margin: 72px 0;
}
.links_list a{
    text-decoration: none;
    color: #a0a0a0;
    padding: 0 auto;
}

.links_list dt{
    font-size: 20px;
    color: #191919;
    line-height: 1;
    margin-bottom: 10px;
}
.links_list dd{
    line-height: 30px;
}
.dark-bg{
    background-color: black;
}
.footer{
    line-height: 80px;
}
.text-left{
     color: white;
 }

.text-right a{
    padding-right: 10px;
    color: white;
}
@media (max-width: 768px) {
    .footer .text-right{
        text-align: left;
    }
}
