<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Blog正文</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/myblog/index.css">

    <link rel="stylesheet" href="../static/css/myblog/blog.css">

    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

</head>
<body>

<!--导航-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">阴险の暗示</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#"><span class="glyphicon glyphicon-home mini"></span>&nbsp;首页</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-th-list mini"></span>&nbsp;分类</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-tags mini"></span>&nbsp;标签</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-book mini"></span>&nbsp;归档</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user mini"></span>&nbsp;关于我</a></li>
            </ul>
            <form class="navbar-form navbar-right search">
                <div class="input-group input-group-sm hidden-sm">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</nav>

<!--中间内容-->
<div class="container-fluid mid-body">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <span class="y-rMargin-sm">
                        <img src="../static/images/demo/3.jpg" class="img-circle subscript_img dispaly_inline">
                        <p class="subscript dispaly_inline">康娜</p>
                    </span>
                    <span class="glyphicon glyphicon-calendar subscript y-rMargin-sm">&nbsp;2020-02-26</span>
                    <span class="glyphicon glyphicon-eye-open subscript y-rMargin-sm">&nbsp;2536</span>
                    <span class="y-floatRight">
                        <h6><a href="#">博客</a>&nbsp;/&nbsp;正文</h6>
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <img src="../static/images/demo/banner.jpg" class="img-responsive">
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    <div class="y-floatRight">
                        <h4><span class="label label-danger">原&nbsp;创</span></h4>
                    </div>
                    <br><br>
                    <h2 class="text-center">关于刻意练习的清单</h2>

                    <!--中间主要内容部分-->
                    <div>
                        <div id="content" class="y-rlMargin-sm">
                            <h4>中文排版的重点和难点</h4>
                            <p>在中文排版中，HTML4 的很多标准在语义在都有照顾到。但从视觉效果上，却很难利用单独的 CSS 来实现，像<abbr title="在文字下多加一个点">着重号</abbr>（例：这里<em class="typo-em">强调一下</em>）。在 HTML4 中，专名号标签（<code>&lt;u&gt;</code>）已经被放弃，而
                                HTML5 被<a href="http://html5doctor.com/u-element/">重新提起</a>。<i class="serif">Typo.css</i> 也根据实际情况提供相应的方案。我们重要要注意的两点是：</p>
                            <ol>
                                <li>语义：语义对应的用法和样式是否与中文排版一致</li>
                                <li>表现：在各浏览器中的字体、大小和缩放是否如排版预期</li>
                            </ol>
                            <p>对于这些，<i class="serif">Typo.css</i> 排版项目的中文偏重注意点，都添加在附录中，详见：</p>
                            <blockquote>
                                <b>附录一</b>：<a href="#appendix1"><i class="serif">Typo.css</i> 排版偏重点</a>
                            </blockquote>
                            <p>目前已有像百姓网等全面使用 <i class="serif">Typo.css</i> 的项目，测试平台的覆盖，特别是在<abbr title="手机、平板电脑等移动平台">移动端</abbr>上还没有覆盖完主流平台，希望有能力的同学能加入测试行列，或者加入到 <i class="serif">Typo.css</i>
                                的开发。加入方法：<a href="https://github.com/sofish/Typo.css">参与 <i class="serif">Typo.css</i> 开发</a>。如有批评、建议和意见，也随时欢迎给在 Github 直接提 <a
                                        href="https://github.com/sofish/Typo.css/issues">issues</a>，或给<abbr title="Sofish Lin, author of Typo.css" role="author">我</abbr>发<a
                                        href="mailto:sofish@icloud.com">邮件</a>。</p>
                            <h2 id="section2">二、排版实例：</h2>
                            <p>提供2个排版实例，第一个中文实例来自于来自于<cite class="typo-unique">张燕婴</cite>的《论语》，由于古文排版涉及到的元素比较多，所以采用《论语》中《学而》的第一篇作为排版实例介绍；第2个来自到经典的
                                Lorem Ipsum，并加入了一些代码和列表等比较具有代表性的排版元素。</p>
                            <h3 id="section2-1">例1：论语学而篇第一</h3>

                            <p>
                                <small><b>作者：</b><abbr title="名丘，字仲尼">孔子</abbr>（
                                    <time>前551年9月28日－前479年4月11日</time>
                                    ）
                                </small>
                            </p>
                            <h4>本篇引语</h4>
                            <p>
                                《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。 </p>
                            <h4>原文</h4>
                            <p>子曰：「学而时习之，不亦说乎？有朋自远方来，不亦乐乎？人不知，而不愠，不亦君子乎？」 </p>
                            <h4>译文</h4>
                            <p>孔子说：「学了又时常温习和练习，不是很愉快吗？有志同道合的人从远方来，不是很令人高兴的吗？人家不了解我，我也不怨恨、恼怒，不也是一个有德的君子吗？」 </p>
                            <h4>评析</h4>
                            <p>宋代著名学者<u class="typo-u">朱熹</u>对此章评价极高，说它是「入道之门，积德之基」。本章这三句话是人们非常熟悉的。历来的解释都是：学了以后，又时常温习和练习，不也高兴吗等等。三句话，一句一个意思，前后句子也没有什么连贯性。但也有人认为这样解释不符合原义，指出这里的「学」不是指学习，而是指学说或主张；「时」不能解为时常，而是时代或社会的意思，「习」不是温习，而是使用，引申为采用。而且，这三句话不是孤立的，而是前后相互连贯的。这三句的意思是：自己的学说，要是被社会采用了，那就太高兴了；退一步说，要是没有被社会所采用，可是很多朋友赞同<abbr
                                        title="张燕婴">我</abbr>的学说，纷纷到我这里来讨论问题，我也感到快乐；再退一步说，即使社会不采用，人们也不理解我，我也不怨恨，这样做，不也就是君子吗？（见《齐鲁学刊》1986年第6期文）这种解释可以自圆其说，而且也有一定的道理，供读者在理解本章内容时参考。
                            </p>
                            <p>此外，在对「人不知，而不愠」一句的解释中，也有人认为，「人不知」的后面没有宾语，人家不知道什么呢？当时因为孔子有说话的特定环境，他不需要说出知道什么，别人就可以理解了，却给后人留下一个谜。有人说，这一句是接上一句说的，从远方来的朋友向我求教，我告诉他，他还不懂，我却不怨恨。这样，「人不知」就是「人家不知道我所讲述的」了。这样的解释似乎有些牵强。</p>
                            <p>总之，本章提出以学习为乐事，做到人不知而不愠，反映出孔子学而不厌、诲人不倦、注重修养、严格要求自己的主张。这些思想主张在《论语》书中多处可见，有助于对第一章内容的深入了解。</p>

                            <br>
                            <button type="button" class="btn btn-default btn-sm label_border">祖&nbsp;安</button>
                            <div class="text-center">
                                <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-placement="top" data-toggle="popover" data-trigger="focus">赞&nbsp;&nbsp;赏</a>
                            </div>
                        </div>

                    </div>

                </li>
                <li class="list-group-item y-a-nodecoration y-color-brown">
                    <div class="y-tbpadding-sm">
                        <span class="col-xs-8 y-tbpadding-sm">
                            <ul>
                                <li>作者：<span>李仁密</span><a href="#" target="_blank">（联系作者）</a></li>
                                <li>发表时间：<span>2017-10-02 09:08</span></li>
                                <li>版权声明：自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</li>
                                <li>公众号转载：请在文末添加作者公众号二维码</li>
                            </ul>
                        </span>
                        <span class="col-xs-2">
                            <img src="../static/images/wechat.jpg" style="width: 110px">
                        </span>
                    </div>
                </li>
                <li class="list-group-item">
                    <!-- 评论区-->
                    <div class="panel panel-default">

                        <div class="panel-heading">评论</div>
                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item">
                                <img src="../static/images/demo/2.jpg" class="img-thumbnail y-img-50">
                                <P CLASS="y-oneline">: This has been very useful for my research. Thanks as well!</P>
                            </li>
                            <li class="list-group-item">
                                <img src="../static/images/demo/3.jpg" class="img-thumbnail y-img-50">
                                <P CLASS="y-oneline">: This has been very useful for my research. Thanks as well!</P>
                            </li>
                            <li class="list-group-item">
                                <img src="../static/images/demo/4.jpg" class="img-thumbnail y-img-50">
                                <P CLASS="y-oneline">: This has been very useful for my research. Thanks as well!</P>
                            </li>

                        </ul>
                    </div>

                </li>
                <!--输入框-->
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="contact-box text-center">
                                <form action="#" method="post">
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="name" name="name" placeholder="姓名*" required="">
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="email" class="form-control" id="email" name="email" placeholder="Email*" required="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" id="message" name="message" rows="10" placeholder="留言内容*" required=""></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-info">提&nbsp;交</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>

        </div>
    </div>
</div>

<!-----------下边 footer----------->
<div class="container-fluid media-bottom footer">
    <div class="container second_footer">
        <div class="row">
            <div class="text-center col-lg-2 col-md-2 col-sm-2">
                <img class="img-rounded" src="../static/images/wechat.jpg">
            </div>
            <div class="text-center col-lg-3 col-md-3 col-sm-3 white_border">
                <h5>最新博客</h5>
                <p><a href="#">用户故事（User Story）</a></p>
                <p><a href="#">用户故事（User Story）</a></p>
                <p><a href="#">用户故事（User Story）</a></p>
            </div>
            <div class="text-center col-lg-3 col-md-3 col-sm-3 white_border">
                <h5>联 系 我</h5>
                <p><a href="#">Email：740265793@qq.com</a></p>
                <p><a href="#">QQ：740265793</a></p>
                <br><br>
            </div>
            <div class="text-center col-lg-4 col-md-4 col-sm-3 white_border">
                <h5>博    客</h5>
                <p>这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
                <br><br>
            </div>
        </div>

        <div class="top_border">
            <div class="text-center copyright">
                <p>Copyright © 2019 - 2020 阴险の暗示 Designed by Unravel</p>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover({
            animation:true,
            html:true,
            container:"body",
            content:"<div>\n" +
                "    <img src=\"../static/images/wechat.jpg\" style=\"float: left\" width=\"50%\">\n" +
                "    <img src=\"../static/images/wechat.jpg\" style=\"float: right\" width=\"50%\">\n" +
                "    <span style=\"width: 50%; float: left\" class=\"text-center\">微信</span>\n" +
                "    <span style=\"width: 50%; float: right\" class=\"text-center\">支付宝</span>\n" +
                "</div>"
            }
        )
    })
</script>
</body>
</html>