<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>主页</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/myblog/index.css">
    
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

</head>
<body>

<!--导航-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">阴险の暗示</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-home mini"></span>&nbsp;首页</a></li>
                <li><a href="./types.html"><span class="glyphicon glyphicon-th-list mini"></span>&nbsp;分类</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-tags mini"></span>&nbsp;标签</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-book mini"></span>&nbsp;归档</a></li>
                <li><a href="./about.html"><span class="glyphicon glyphicon-user mini"></span>&nbsp;关于我</a></li>
            </ul>
            <form class="navbar-form navbar-right search">
                <div class="input-group input-group-sm hidden-sm">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</nav>

<!--中间内容-->
<div class="container-fluid mid-body">
    <div class="row">
        <!-- 左边的面板 -->
        <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title title4">
                        <span> <h4>博 客</h4> </span>
                        <span> 共 <h4>156</h4> 篇 </span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="tb_margin">
                        <div class="col-lg-8 col-md-8 paddingg col-sm-8">
                            <h4 class="text_title">你真的理解什么是财富自由吗?</h4>
                            <p class="text_body">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>

                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <span>
                                    <img src="../static/images/demo/3.jpg" class="img-circle subscript_img dispaly_inline">
                                    <p class="subscript dispaly_inline">康娜</p>
                                </span>
                                <span class="subscript_margin">
                                    <span class="glyphicon glyphicon-calendar subscript">&nbsp;2020-02-26</span>
                                </span>
                                <span class="subscript_margin">
                                    <span class="glyphicon glyphicon-eye-open subscript">&nbsp;2536</span>
                                </span>
                            </div>
                            <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2">
                                <button class="btn btn-default btn-xs tag">认知升级</button>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <img src="../static/images/mini.png" class="text_miniPit dispaly_inline img-rounded img-responsive">
                        </div>
                    </div>
                    <div class="tb_margin">
                        <div class="col-lg-8 col-md-8 paddingg col-sm-8">
                            <h4 class="text_title">你真的理解什么是财富自由吗?</h4>
                            <p class="text_body">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
    
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <span>
                                    <img src="../static/images/demo/3.jpg" class="img-circle subscript_img dispaly_inline">
                                    <p class="subscript dispaly_inline">康娜</p>
                                </span>
                                <span class="subscript_margin">
                                    <span class="glyphicon glyphicon-calendar subscript">&nbsp;2020-02-26</span>
                                </span>
                                <span class="subscript_margin">
                                    <span class="glyphicon glyphicon-eye-open subscript">&nbsp;2536</span>
                                </span>
                            </div>
                            <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2">
                                <button class="btn btn-default btn-xs tag">认知升级</button>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <img src="../static/images/mini.png" class="text_miniPit dispaly_inline img-rounded img-responsive">
                        </div>
                    </div>
                </div>
                <!-- 分  页 -->
                <div>
                    <nav aria-label="Page navigation" class="text-center">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">上一页</span>
                                </a>
                            </li>
                            <li><a href="#">99</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">下一页</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    
        <!-- 右边的面板 -->
        <div class="col-lg-3 col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p class="panel-title dispaly_inline"><span class="glyphicon glyphicon-th-list"/>&nbsp;分类</p>
                    <a style="float: right" href="#">more »</a>
                </div>
                <div class="panel-body">
                    <div class="list-group" style="alignment: center">
                        <a href="#" class="list-group-item">
                            <span>777777</span>
                            <span class="label label-info" style="float: right">23</span>
                        </a>
                        <a href="#" class="list-group-item">
                            <span>学习日志</span>
                            <span class="label label-info" style="float: right">23</span>
                        </a>
                        <a href="#" class="list-group-item">
                            <span>学习日志</span>
                            <span class="label label-info" style="float: right">23</span>
                        </a>
                        <a href="#" class="list-group-item">
                            <span>学习日志</span>
                            <span class="label label-info" style="float: right">23</span>
                        </a>
                    </div>
                </div>
            </div>
       
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p class="panel-title dispaly_inline"><span class="glyphicon glyphicon-tags"/>&nbsp;标签</p>
                    <a style="float: right" href="#">more »</a>
                </div>
                <div class="panel-body">
                    <span>
                        <button type="button" class="btn btn-default btn-sm label_border">祖安 &nbsp;&nbsp;&nbsp;15</button>
                    </span>
                    <span>
                        <button type="button" class="btn btn-default btn-sm label_border">诺克萨斯 &nbsp;&nbsp;&nbsp;15</button>
                    </span>
                    <span>
                        <button type="button" class="btn btn-default btn-sm label_border">德玛西亚 &nbsp;&nbsp;&nbsp;15</button>
                    </span>
                    <span>
                        <button type="button" class="btn btn-default btn-sm label_border">均衡教派 &nbsp;&nbsp;&nbsp;15</button>
                    </span>
                    <span>
                        <button type="button" class="btn btn-default btn-sm label_border">暗影岛 &nbsp;&nbsp;&nbsp;15</button>
                    </span>
                </div>
            </div>
    
            <div class="panel panel-success">
                <div class="panel-heading"><span class="glyphicon glyphicon-bookmark"/>&nbsp;最新推荐</div>
    
                <ul class="list-group a_decorate">
                    <li class="list-group-item"><a href="#">用户故事（User Story）</a></li>
                    <li class="list-group-item"><a href="#">用户故事（User Story）</a></li>
                    <li class="list-group-item"><a href="#">用户故事（User Story）</a></li>
                    <li class="list-group-item"><a href="#">用户故事（User Story）</a></li>
                </ul>
            </div>
    
        </div>
    </div>
</div>

<!-----------下边 footer----------->
<div class="container-fluid footer">
    <div class="container second_footer">
        <div class="row">
            <div class="text-center col-lg-2 col-md-2 col-sm-2">
                <img class="img-rounded" src="../static/images/wechat.jpg">
            </div>
            <div class="text-center col-lg-3 col-md-3 col-sm-3 white_border">
                <h5>最新博客</h5>
                <p><a href="#">用户故事（User Story）</a></p>
                <p><a href="#">用户故事（User Story）</a></p>
                <p><a href="#">用户故事（User Story）</a></p>
            </div>
            <div class="text-center col-lg-3 col-md-3 col-sm-3 white_border">
                <h5>联 系 我</h5>
                <p><a href="#">Email：740265793@qq.com</a></p>
                <p><a href="#">QQ：740265793</a></p>
                <br><br>
            </div>
            <div class="text-center col-lg-4 col-md-4 col-sm-3 white_border">
                <h5>博    客</h5>
                <p>这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
                <br><br>
            </div>
        </div>

        <div class="top_border">
            <div class="text-center copyright">
                <p>Copyright © 2019 - 2020 阴险の暗示 Designed by Unravel</p>
            </div>
        </div>
    </div>
</div>


</body>
</html>