<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>专题网站</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../static/css/demo.css">
</head>
<body>

<nav class="navbar-fluid navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="logoImg" src="../static/images/demo/logo11.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首 页</a></li>
                <li><a href="#"></a></li>
                <li><a href="#">投喂食物</a></li>
                <li><a href="#">尾巴充电</a></li>
                <li><a href="https://www.agefans.tv/detail/20170019">在线动漫</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder=" 搜 索...">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1">
                <h2 class="banner-title">角色介绍</h2>
                <p class="banner-detail">
                    カンナ·カムイ，直译名神奈·神威，通译康娜·卡姆依（音译），在人间被认为是小林女儿所以人间名叫小林康娜，另有多个网友所起的外号，
                    是酷教信徒创作的漫画作品以及京都动画改编的电视动画《小林家的龙女仆》中登场的虚拟角色。从异世界来到人类世界的龙族，
                    人类形态时外表为小学女生，最喜欢的事情是上学。 为了追寻托尔的脚步而来到人类世界的龙娘，另一个原因是因为恶作剧被从原来的世界放逐了，
                    有着我行我素的性格，给人一种天然呆的无口印象。
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 hidden-sm hidden-xs">
                <img class="img-responsive renwu" src="../static/images/demo/kk.png" alt="人物">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid gray-bg">
    <div class="container">
        <h2 class="common-title">背景介绍</h2>
        <div class="row">
            <p class="common-detail col-lg-8 col-lg-offset-2">
                《小林家的龙女仆》是作者“クール教信者”连载的一部日常搞笑漫画，改编TV动画已于2017年1月开播。主人公小林是一位女性系统工程师，
                某天她喝酒喝的很醉兴冲冲的跑到了山上遇到了一头被圣剑插中奄奄一息的龙，酒醉之下的小林拔出圣剑救下了龙，后又对着龙大倒苦水。
                听到龙说自己无家可归时，小林趁着酒意开玩笑的说“那你就来我家吧”，之后龙真的就跑到小林的家里，并且还变成了一位女仆——于是一位龙女仆和
                小林的同居生活就这样开始了……
            </p>
        </div>

        <div class="row list-con">
            <div class="col-lg-4 list-item col-md-6 col-sm-6">
                <h3>小林康娜</h3>
                <p>喜欢恶作剧，有些怕寂寞的我行我素型。在自己的世界受到了放逐，而开始住在小林家。</p>
            </div>
            <div class="col-lg-4 list-item col-md-6 col-sm-6 list2">
                <h3>小林康娜</h3>
                <p>喜欢恶作剧，有些怕寂寞的我行我素型。在自己的世界受到了放逐，而开始住在小林家。</p>
            </div>
            <div class="col-lg-4 list-item col-md-6 col-sm-6 list3">
                <h3>小林康娜</h3>
                <p>喜欢恶作剧，有些怕寂寞的我行我素型。在自己的世界受到了放逐，而开始住在小林家。</p>
            </div>
            <div class="col-lg-4 list-item col-md-6 col-sm-6 list4">
                <h3>小林康娜</h3>
                <p>喜欢恶作剧，有些怕寂寞的我行我素型。在自己的世界受到了放逐，而开始住在小林家。</p>
            </div>
            <div class="col-lg-4 list-item col-md-6 col-sm-6 list5">
                <h3>小林康娜</h3>
                <p>喜欢恶作剧，有些怕寂寞的我行我素型。在自己的世界受到了放逐，而开始住在小林家。</p>
            </div>
            <div class="col-lg-4 list-item col-md-6 col-sm-6 list6">
                <h3>小林康娜</h3>
                <p>喜欢恶作剧，有些怕寂寞的我行我素型。在自己的世界受到了放逐，而开始住在小林家。</p>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="common-title">番剧介绍</h2>
        <div class="row">
            <p class="common-detail col-lg-8 col-lg-offset-2">
                《小林家的龙女仆》是作者“クール教信者”连载的一部日常搞笑漫画，改编TV动画已于2017年1月开播。作者“クール教信者”连载的一部日常搞笑漫画，改编TV动画已于2017年1月开播。
            </p>
        </div>
        <div class="row case-list">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="../static/images/demo/1.jpg">
                <div class="mask">
                    <p>康娜</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="../static/images/demo/2.jpg">
                <div class="mask">
                    <p>小林康娜</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="../static/images/demo/3.jpg">
                <div class="mask">
                    <p>康娜·卡姆依</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="../static/images/demo/5.jpg">
                <div class="mask">
                    <p>卡姆依，小林康娜</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="../static/images/demo/5.jpg">
                <div class="mask">
                    <p>神威，康娜</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="../static/images/demo/6.jpg">
                <div class="mask">
                    <p>康娜</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="../static/images/demo/7.jpg">
                <div class="mask">
                    <p>卡姆依</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="../static/images/demo/8.jpg">
                <div class="mask">
                    <p>小林康娜</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pink-bg">
    <div class="container">
        <h2 class="common-title">合作伙伴</h2>
        <div class="row">
            <p class="common-detail col-lg-8 col-lg-offset-2">
                《小林家的龙女仆》是作者“クール教信者”连载的一部日常搞笑漫画，改编TV动画已于2017年1月开播。
            </p>
        </div>
        <div class="row logos-list">
            <div class="col-lg-2">
                <a href="#" class="logo1"></a>
            </div>
            <div class="col-lg-2">
                <a href="#" class="logo2"></a>
            </div>
            <div class="col-lg-2">
                <a href="#" class="logo3"></a>
            </div>
            <div class="col-lg-2">
                <a href="#" class="logo4"></a>
            </div>
            <div class="col-lg-2">
                <a href="#" class="logo5"></a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid gray-bg">
    <div class="container">
        <div class="links_list">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <dl>
                    <dt>角色</dt>
                    <dd><a href="#">小林</a></dd>
                    <dd><a href="#">托尔</a></dd>
                    <dd><a href="#">艾露玛</a></dd>
                    <dd><a href="#">露科亚</a></dd>
                    <dd><a href="#">法夫纳</a></dd>
                    <dd><a href="#">泷谷真</a></dd>
                    <dd><a href="#">才川莉子</a></dd>
                </dl>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <dl>
                    <dt>角色</dt>
                    <dd><a href="#">小林</a></dd>
                    <dd><a href="#">托尔</a></dd>
                    <dd><a href="#">艾露玛</a></dd>
                    <dd><a href="#">露科亚</a></dd>
                    <dd><a href="#">法夫纳</a></dd>
                    <dd><a href="#">泷谷真</a></dd>
                    <dd><a href="#">才川莉子</a></dd>
                </dl>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <dl>
                    <dt>角色</dt>
                    <dd><a href="#">小林</a></dd>
                    <dd><a href="#">托尔</a></dd>
                    <dd><a href="#">艾露玛</a></dd>
                    <dd><a href="#">露科亚</a></dd>
                    <dd><a href="#">法夫纳</a></dd>
                    <dd><a href="#">泷谷真</a></dd>
                    <dd><a href="#">才川莉子</a></dd>
                </dl>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <dl>
                    <dt>角色</dt>
                    <dd><a href="#">小林</a></dd>
                    <dd><a href="#">托尔</a></dd>
                    <dd><a href="#">艾露玛</a></dd>
                    <dd><a href="#">露科亚</a></dd>
                    <dd><a href="#">法夫纳</a></dd>
                    <dd><a href="#">泷谷真</a></dd>
                    <dd><a href="#">才川莉子</a></dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid dark-bg">
    <div class="container footer">
        <div class="col-lg-6 text-left col-md-6 col-sm-6">2018 rongzhiweilai.cn Rights Reserved</div>
        <div class="col-lg-6 text-right col-md-6 col-sm-6">
            <a href="#">Home</a>
            <a href="#">About Us </a>
            <a href="#">Fap</a>
            <a href="#">Contact Us</a>
        </div>
    </div>
</div>
</body>
</html>